
{% extends "layout/base.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">
            Login
          </h4>
        </div>
        <div class="card-body">
         <h2>{{error}}</h2> 
          <br />
          <form action="{% url 'login' %}"  method="POST"> 
            {% csrf_token %} 
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Username</label>
                  <input type="text" class="form-control" name="username" id="username">
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Password</label>
                  <input type="password" class="form-control" name="password" id="password">
                </div>
              </div>
            </div>
            <br />
            <button type="submit" name="Post" class="btn btn-primary pull-left">Login</button>
            &nbsp; &nbsp; 
            <span class="pull-right">
              Don't have an account? <a href="{% url 'register' %}" class="text-primary">Create</a>
            </span>
           
            <div class="clearfix"></div>
            <br>
            <span class="pull-right">
              Go To Home Page <a href="/" class="text-primary">Home</a>
            </span>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}
