{% extends "layout/base.html" %}

{% block content %}
    <h1> Welcome {{user.username}} </h1>
    <br><br>
    Don't have an account? <a href="{% url 'register' %}" class="text-primary">Create</a>
    <br><br>
    You have an account? <a href="{% url 'login' %}" class="text-primary">Login</a>
    <br><br>
    Take Rest? <a href="{% url 'logout' %}" class="text-primary">Logout</a>
    <br><br>
    User Detail <a href="{% url 'users_detail' %}" class="text-primary">User Detail</a>
{% endblock content %}

