{% extends "layout/base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-5">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">
          Create Account
        </h4>
      </div>
      <div class="card-body">

        <h6 class="card-category">
            {% if msg %}
              <span class="text-danger">{{ msg }}</span>
            {% else %}
              Add your credentials
            {% endif %}  
        </h6>
        
        <br />

        {% if success %}

          <p class="">
            Please <a href={% url 'login' %} class="text-black text-small">authenticate</a> using the new account.
          </p>  

        {% else %}
          <form role="form" method="POST" action="">
              
            {% csrf_token %} 

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Username</label>
                  <input type="text" class="form-control" name="username" id="username">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">First Name</label>
                  <input type="text" class="form-control" name="first_name" id="first_name">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Last Name</label>
                  <input type="text" class="form-control" name="last_name" id="last_name">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Last Name</label>
                  <input type="text" class="form-control" name="password" id="password">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Email</label>
                  <input type="email" class="form-control" name="email" id="email">
                </div>
              </div>
            </div>

            <button type="submit" name="register" class="btn btn-primary pull-left">Register</button>

            &nbsp; &nbsp; 
            <span class="pull-right">
              Have an account? <a href="{% url 'login' %}" class="text-primary">Login</a>
            </span>

            <div class="clearfix"></div>

          </form>
        {% endif %}

      </div>
    </div>
  </div>
</div>
</div>
  {% endblock content %}
