{% extends "core/base.html" %}

{% block content %}

          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Update User</h4>
                  <p class="card-category">Fill all the * field</p>
                </div>
                <div class="card-body">
                    <form action=""  method="POST" > 
                        {% csrf_token %} 
                        <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                            <label class="bmd-label-floating">Fist Name*</label>
                            <input type="text" name="first_name" value="{{ u_user.first_name }}">
                            <input type="hidden"  name="id" value="{{ u_user.id }}">
                            </div>
                        </div>
                        <br>
                        <div class="col-md-6">
                            <div class="form-group">
                            <label class="bmd-label-floating">Last Name</label>
                            <input type="text"  name="last_name" value="{{ u_user.last_name }}">
                            </div>
                        </div>
                        </div>
                        <br>
                        <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                            <label class="bmd-label-floating">Email*</label>
                            <input type="text" name="email" value="{{ u_user.email }}">
                            </div>
                        </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                <label class="bmd-label-floating">Password*</label>
                                <input type="text"  name="password" value="{{ u_user.password }}">
                                </div>
                            </div>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary pull-right" name="Post">Submit</button>
                        <br>
                        <a class="btn btn-sm btn-primary" href="{% url 'register' %}">Back</a>
                        <div class="clearfix"></div>
                    </form>
                    </div>
                </div>
                </div>
            </div>

{% endblock content %}
