{% extends "layout/base.html" %}

{% block content %}
<script type="text/javascript">
  function searchdata()
    {
      var input, table, tr, td, filter, i, displaydata
      input = document.getElementById("searchid");
      filter = input.value.toUpperCase();
      table = document.getElementById("tableid");
      tr = table.getElementsByTagName("tr")
      for(i=0;i<tr.length;i++)
      {
        td = tr[i].getElementsByTagName("td")[2];
        if(td){
          displaydata = td.innerText;
          if(displaydata.toUpperCase().indexOf(filter)>-1){
            tr[i].style.display="";
          }
          else{
            tr[i].style.display="none";
          }
        }
      }
    }
  function resetdata()
    {
      location.reload();
    }
</script>
  <div class="col-md-12 mt-5">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">
         Documents Detail
         <button type="button" name="submit" style="float:right" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Add Documents</button>
        </h4>
      </div>
    <div class="card-body">
      <div class="col-md-12 mb-2">
        <select class="col-sm-3 form-control mr-2" style="float:left" id="searchid" onchange="searchdata();">
          <option disabled="true" selected>Select Documents</option>
          <option value="Aadhar Card">Aadhar Card</option>
          <option value="Driving Licence">Driving Licence</option>
          <option value="PAN Card">PAN Card</option>
          <option value="Passport">Passport</option>
          <option value="Ration Card">Ration Card</option>
          <option value="Voter Card">Voter Card</option>
        </select>
        <input type="button" value="Reset Table" class="btn btn-primary pull-right" onclick="resetdata();">
      </div>
      <div class="table table-bordered">
        <table class="table" id="tableid">
            <thead class=" text-primary">
                <th>Sr. No.</th>
                <th>User Name</th>
                <th>Documents</th>
                <th>Image</th>
                <th>Description</th>
                <th>Status</th>
                <th>Action</th>
            </thead>
          <tbody>
            {% for docs in all_docs %}   
            <tr>
                <td>{{ docs.id }}</td>
                <td>{{ docs.userid }}</td>
                <td>{{ docs.name }}</td>
                <td><img src="{{ docs.image.url }}" alt="" height="50px" width="50px"> </td>
                <td>{{ docs.description }}</td>
                <td>{{ docs.status }}</td>   
                <td>
                  <form action="" method="POST" class="d-inline">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-sm btn-danger" value="Delete">
                  </form>
                </td>
            </tr>
            {% endfor %} 
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Upload Documents</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="text-danger">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form role="form" method="POST" action="" enctype="multipart/form-data">
          {% csrf_token %} 
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="bmd-label-floating">User Name</label>
                <select class="form-control" name="userid" id="userid_id">
                  <option disabled="true" selected>Select User</option>
                  {% for user in emps %}
                  <option value="{{user.id}}">{{user.first_name}}</option>
                  {% endfor %} 
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="bmd-label-floating">Document Name</label>
                <select class="form-control" name="name" id="name">
                  <option disabled="true" selected>Select Documents</option>
                  <option value="Aadhar Card">Aadhar Card</option>
                  <option value="Driving Licence">Driving Licence</option>
                  <option value="PAN Card">PAN Card</option>
                  <option value="Passport">Passport</option>
                  <option value="Ration Card">Ration Card</option>
                  <option value="Voter Card">Voter Card</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="bmd-label-floating">Description</label>
                <input type="text" class="form-control" name="description" id="description">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="bmd-label-floating">Image</label>
                <input type="file" class="form-control" name="image" id="image">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" name="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>
  {% endblock content %}
