{% extends "layout/base.html" %}

{% block content %}
<div class="row">
      <h2>User Detail</h2>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
              <thead class=" text-primary">
                  <th>ID</th>
                  <th>User Name</th>
                  <th>Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>Password</th>
                  <th>update</th>
                  <th>delete</th>
              </thead>
            <tbody>
              {% for emp in all_user %}   
              <tr>
                  <td>{{ emp.id }}</td>
                  <td>{{ emp.username }}</td>
                  <td>{{ emp.first_name }}</td>
                  <td>{{ emp.last_name }}</td>
                  <td>{{ emp.email }}</td>   
                  <td>{{ emp.password }}</td>   
                  <td><a class="btn btn-sm btn-primary" href="{% url 'updateuser' emp.id %}">Update</a></td>
                    <td>
                      <form action="{% url 'delete' emp.id %}" method="POST" class="d-inline">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-sm btn-danger" value="Delete">
                      </form>
                    </td>           
              </tr>
              {% endfor %} 
            </tbody>
          </table>
        </div>
      </div>
    </div>
  {% endblock content %}
