<!DOCTYPE html>
{% load static %}
<html lang="en">
    <meta charset="utf-8">
    <title>Tech58</title>
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users_detail' %}">Users</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Activity
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'documents' %}">Documents</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow border-left">
          <a class="nav-link dropdown-toggle px-4 text-light" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           {{user.first_name}} Account <i class="fas fa-angle-down pl-2"></i>
          </a>
          <!-- Dropdown - User Information -->
          
          <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
          {% if request.user.is_authenticated %}
            <a class="dropdown-item" href="/admin">
              <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
              Admin
            </a>
            <a class="dropdown-item" href="#">
              <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
              Profile
            </a>
            <a class="dropdown-item" href="#">
              <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
              Settings
            </a>
            <a class="dropdown-item" href="#">
              <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
              Activity Log
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout' %}">
              <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
              Logout
            </a>          
        {%endif%}
        </li>
      </div>
    </nav>
    <div class="container">
      {% block content %}
      
      {% endblock %}
    </div>
    <script src="{% static 'core/js/jquery.js' %}"></script>
    <script src="{% static 'core/js/bootstrap.js' %}"></script>
    <script src="{% static 'core/js/popper.js' %}"></script>
  </body>
</html>